/** @format */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,500&display=swap");

* {
  box-sizing: border-box;
}
.nav-item {
  margin-left: 15px !important;
}
.nav_top_bar {
  margin-left: 3%;
  margin-right: 3%;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
}

.free_bold {
  font-weight: bold;
  background-color: transparent;
}

.free_bold:hover {
  background-color: transparent;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #1a73e8;
  margin: auto;
  background-color: #1a73e8;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}

.nav {
  height: auto;
  width: 100%;
  /* -webkit-box-shadow: 3px 3px 5px 6px rgb(223, 222, 222);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  /* -moz-box-shadow: 3px 3px 5px 6px rgb(223, 222, 222); */
  /* Firefox 3.5 - 3.6 */
  /* box-shadow: 3px 3px 5px 6px rgb(223, 222, 222);  */
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 26px;
  color: #3fb49f;
  padding: 10px 10px 10px 20px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  color: grey;
  font-size: 18px;
}

.nav > .nav-links > a {
  height: auto;
  display: inline-block;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  color: #333;
}

.nav > .nav-links > a:hover {
  background-color: #3fb49f;
  color: #eee;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .button_signin {
    margin-top: 5px !important;
    margin-left: -10px !important;
  }

  .spandot {
    visibility: hidden;
  }

  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: auto;
    background-color: #3fb49f;
    padding-left: 16px;
    padding-right: 8px;
    padding-top: 18px;
    padding-bottom: 12px;
  }

  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    /* background-color: #3fb49f; */
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    background-color: #3fb49f;
    border-top: 2px solid #eee;
  }

  .nav > .nav-links {
    position: absolute;
    display: block;
    margin-top: 15px;
    width: 100%;
    background-color: #eee;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }

  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }

  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }

  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.navbar-link {
  font-weight: 900 !important;
  font-family: "Open Sans", sans-serif !important;
}

.nav-link {
  color: #ccc;
  font-weight: 600;
}

.nav-link:hover {
  color: #1a73e8 !important;
}

.nav-link::after {
  color: #1a73e8 !important;
}

.free_bold {
  font-weight: bold !important;
  background-color: transparent !important;
}

.free_bold:hover {
  background-color: transparent !important;
  text-decoration: underline !important;
  text-decoration-color: #1a73e8 !important;
}

.button_signin {
  outline: none;
  margin-top: 2px;
  margin-left: 8px;
  background-color: #fbfbfb;
  padding: 3px 18px 3px 18px;
  border: 2px solid #1a73e8;
}

.button_signin:hover {
  color: white;
  background-color: #1a73e8;
}

.nav_top_bar {
  -webkit-box-shadow: 0px 0px 3px 0px rgb(223, 222, 222) !important;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 3px 0px rgb(223, 222, 222) !important;
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 3px 0px rgb(223, 222, 222) !important;
}

.navbar__link--active {
  color: #1a73e8;
}

.navbar .navbar-nav .nav-link {
  position: relative;
}

.navbar .navbar-nav .nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #1a73e8;
  margin: auto;
  background-color: #1a73e8;
  color: transparent;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-link:hover::after {
  width: 100%;
}
@media (max-width: 990px) {
  .spandot {
    visibility: hidden;
  }
  .asdasd {
    margin-top: -15px !important;
  }
  .button_signin {
    margin-top: 5px !important;
    margin-left: -6px !important;
  }
}
